.header {
  display: flex;
  justify-content: center;
}
.header-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 24px 32px;
  align-items: center;
  max-width: 1920px;
}
.header-left {
  display: flex;
  align-items: center;
}
.headerUl {
  width: 360px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}
.pagelink {
  font-size: 18px;
}
@media (min-width: 1024px) {
  .headerUl {
    width: 360px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .pagelink {
    font-size: 18px;
  }
}
@media (min-width: 2024px) {
  .header {
    width: 2024px;
    margin: auto;
  }
  .inner-footer {
    width: 2024px;
    margin: auto;
  }
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 5rem;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu.active {
  left: 0;
  z-index: 2;
}

.nav-item {
  margin: 2.5rem 0;
}

.hamburger {
  display: block;
  cursor: pointer;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/*CTA*/
#logo {
  width: 50px;
  height: 50px;
  margin-right: 32px;
}

/**/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  width: 100%;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  margin-left: 5rem;
  font-size: 18px;
}
.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
    left: 0;
    z-index: 2;
  }
  .nav-item {
    margin: 2.5rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  /**/
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
    left: 0;
    z-index: 2;
  }
  .nav-item {
    margin: 2.5rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
}

/**/
#headerCTA {
  display: block;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  text-align: center;
  width: auto;
  text-align: center;
  height: 40px;
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: #000000;
  border-radius: 5px;
  position: relative;
  line-height: 40px;
  padding: 8px;
  /* margin-left: 5rem; */
}
#headerCTA:hover {
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.2);
}

strong.title {
  font-size: 24px;
  margin: 40px;
  line-height: 24px;
}

.firstSectionBlock {
  /* align-items: flex-end; */
  flex: 50%;
  height: auto;
}

a:link,
a:visited {
  text-decoration: none;
  color: rgb(53, 31, 31);
}
a:hover {
  color: rgb(49, 141, 216);
}
.dropDown {
  position: relative;
  display: inline-block;
  margin: auto;
}
.dropDown_content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 120px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 12px 16px;
  z-index: 1;
}
