*{ margin:0; padding:0; font-family: sans-serif, Helvetica, Arial;} li{ list-style:none; } img{ vertical-align:top; border:none; }

.header{
    height: 100px;
    display: flex;
    background-color:white;
}
footer{
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    background-color:#f1f1f1;
}
#logo{
    width: 50px;
    height: 50px;
    margin: auto 0 auto 32px;
}
#menu{
    margin: auto 0 auto 0;
}
.pagelink{
    font-size: 18px;
}
ul{
    width: 360px;
    display: grid;
    grid-gap:20px;
    grid-template-columns: 1fr 1fr 1fr;
}
#headerCTAPosition{
    margin: auto 32px auto 0;
}
.headerCTA{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    margin: auto 0 auto 0;
    text-align: center;
    width: 90%;
    text-align: center;
    height: 40px;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #000000;
    border-radius: 5px;
    position: relative;
}
button.headerCTA:hover  {
    box-shadow:  4px 4px 10px 1px rgba(0, 0, 0, 0.2);;
  }

strong.title{
    font-size:30px;
    margin-bottom: 24px;
}
.nameTitle{
    color: #000000;
    font-size:48px;
    font-weight: bolder;
    width: auto;
}
.nameBriefing{
    font-size:24px;
    width: auto;
    margin-top: 48px;
}
button.CTA2 {
    margin-top: 48px;
    position: relative;
  display: block;
  cursor: pointer;
  outline: none;
  border: 0;
  text-decoration: none;
  background: transparent;
  padding: 0;  
  width: 16rem;
  height: auto;
}
button.CTA2 .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin:0;
  width: 3rem;
  height: 3rem;
  background: #000000;
  border-radius: 1.625rem;
}
button.CTA2 .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.CTA2 .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.CTA2 .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.CTA2 .button-text {
  transition: width 0.45s cubic-bezier(0.85, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 0 0 2rem;
  margin:auto;
  color: #000000;
  font-size:20px;
  line-height: 48px;
  text-align: center;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}
div#nameAvatar{
    align-items: flex-end;
}

a:link, a:visited,p {
    text-decoration: none;
    color: dimgray;
}
a:hover{
    color: black;
}
.dropDown {
    position: relative;
    display: inline-block;
}
.dropDown_content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    padding: 12px 16px;
    z-index: 1;
}
.dropDown:hover .dropDown_content {
    display: block;
}

.dropDown_content a:hover {
    background-color: #f1f1f1;
}
.dropDownContent{
    display: block;
}
img{
    border-radius: 10%;
}

#firstSection{
    background-color: #ffff;
    width: 80%;
    position: relative;
    margin:auto;
    display:flex;
    padding: 0 10%;
    height:700px;
    justify-content: space-between;
    align-items: center;
}

#Works{
    height: 24px;
}
.projectsTitle{
    font-size:24px;
    text-align: center;
    margin-bottom: -40px;
}
.blog-card {
    display: flex;
    flex-direction: column;
    margin: 136px auto;
    box-shadow: 0 40px 70px 0 rgb(130 136 171 / 20%);
    background: #fff;
    line-height: 1.4;
    border-radius: 15px;
    overflow: hidden;
  }
  /* .blog-card:hover .photo {
    transform: scale(1.3) rotate(3deg);
  }*/
  .blog-card .meta {
    position: relative;
  }
  .blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
  }
  .blog-card .description {
    margin: auto;
    background: #fff;
    position: relative;
  }
  .blog-card .description h1{
    font-size: 24px;
    padding-left: 40px;
  }
  .blog-card .description .read-more{
    font-size: 16px;
    padding-left: 40px;
  }
  .blog-card .description h2 {
    font-size: 16px;
    line-height: px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing:2px;
    /* color: #a2a2a2; */
    padding: 40px;
  }
  .description {
    text-align: left;
  }

  .blog-card .description .read-more a:after {
    content: "→";
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin 0.3s, opacity 0.3s;
  }
  .blog-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
  }

  @media (min-width: 640px) {
    .blog-card {
      flex-direction: row;
      width:70%;
      height:400px;
    }
    .blog-card .meta {
      flex-basis: 50%;
      height: auto;
    }
    .blog-card .description {
      flex-basis: 50%;
    }
  }

#scFirstSection{
    background-color:#FBFBFB;
    position: relative;
    width: 100%;
    height: 350px;
    text-align:center;
}
#klFirstSection{
    background-color:#FFF8E8;
    position: relative;
    width: 100%;
    height: 350px;
    text-align:center;
}
#abFirstSection{
    background-color: #f1f1f1;
    position: relative;
    width: 100%;
    height: 350px;
    text-align:center;
}
section, article{
    align-items: center;
    text-align: center;
}
div.contentLine{
    width:75%;
    margin:30px auto 30px auto;
}
hr{
    border: 2px solid whitesmoke;
}
p.boldBriefing{
    color: black;
    font-size:20px;
    line-height:25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
p.briefing, a.readMore{
    font-size:20px;
    line-height:30px;
}
.center-block {
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    width:75%;
    height:400px;
    line-height:50px;
    text-align:center;
    border-radius: 10px;
    background-color: white;
}

div.project-block{
    margin:auto;
    display: block;
    align-items:center;
    justify-content:center;
    width:60%;
    height:auto;
    line-height:50px;
    text-align:center;
    border-radius: 10px;
}

@media screen and (max-width: 900px){
    .center-block{
        display: flex;
        flex-direction: column;
        height:100%;
    }
    .title{
        font-size:20px;
    }
    p.briefing{
        font-size:20px;
        line-height:22px;
    }
    div.content{
        text-align:left;
        margin:25px;
    }
    div.contentImg{
        margin:20px;
    }
}

@media screen and (max-width: 480px) {
    .center-block{
        display: flex;
        flex-direction: column;
        height:100%;
    }
    div.content{
        text-align:left;
        margin:25px;
    }
    div.contentImg{
        margin:20px;
    }
    .title{
        font-size:18px;
    }
    p.briefing, strong.hashtag, a.readMore{
        font-size:18px;
        line-height:20px;
    }
}
